.transition, body .slider .container .row .buttons button, body .about_us .container .row .advanced .item, body .about_us .container .row .advanced .item:hover .description a, body .process .container .row:last-child .title span, body .process .container .row:last-child .title h3, body .call_back .container .row .description form input, body .call_back .container .row .description form textarea, body .call_back .container .row .description form button, body .counter .container .row:last-child .item h3, body .counter .container .row:last-child .item p, body .counter .container .row:last-child .item p span, body .opinion .slick-dots li button:before, body .gallery .container-fluid .row .item a:after, body .team .container .row .item > a:before, body .team .container .row .item .social a, body .team .container .row .item .social a i {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.aft-bef, body .opinion .slick-dots li button:before, body .gallery .container-fluid .row .item a:after, body .team .container .row .item > a:before {
  content: '';
  position: absolute; }

body .slider {
  color: #ffffff; }
  body .slider .slide1 {
    height: 80vh; }
    body .slider .slide1 .container-fluid {
      width: 100%;
      height: 100%;
      background: url("../img/slide1.jpg"); }
      @media screen and (max-width: 576px) {
        body .slider .slide1 .container-fluid {
          padding: 0 70px; } }
  body .slider .slide2 {
    height: 80vh; }
    body .slider .slide2 .container-fluid {
      width: 100%;
      height: 100%;
      background: url("../img/slide2.jpg"); }
      @media screen and (max-width: 576px) {
        body .slider .slide2 .container-fluid {
          padding: 0 70px; } }
  body .slider .container {
    height: 100%; }
    body .slider .container .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      body .slider .container .row .title h1 {
        font-size: 70px;
        font-weight: bold; }
        @media screen and (max-width: 576px) {
          body .slider .container .row .title h1 {
            font-size: 40px; } }
      body .slider .container .row .description {
        font-size: 20px; }
      body .slider .container .row .buttons button {
        border: none;
        background: transparent;
        color: #ffffff;
        cursor: pointer;
        padding: 15px 30px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        margin-right: 20px;
        margin-bottom: 20px; }
        body .slider .container .row .buttons button:nth-child(1) {
          background: #ffffff;
          color: #f69323; }
          body .slider .container .row .buttons button:nth-child(1):hover {
            background: #f69323;
            color: #ffffff;
            -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1); }
        body .slider .container .row .buttons button:last-child {
          background: #f69323;
          color: #ffffff; }
          body .slider .container .row .buttons button:last-child:hover {
            background: #ffffff;
            color: #f69323;
            -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1); }

body .about_us {
  margin-bottom: 70px; }
  body .about_us .container .row .title {
    text-align: center;
    margin: 40px 0;
    margin-top: 60px; }
    body .about_us .container .row .title h2 {
      font-size: 36px;
      font-weight: bold; }
  body .about_us .container .row .description {
    color: #646e7a;
    text-align: center;
    font-size: 18px; }
  body .about_us .container .row .advanced {
    padding: 10px; }
    body .about_us .container .row .advanced .item {
      height: 100%;
      background: #f2f2f2;
      border: 1px solid #dfdfdf;
      padding: 10px; }
      body .about_us .container .row .advanced .item .description {
        text-align: left;
        padding: 20px;
        height: 100%;
        background: #ffffff;
        position: relative; }
        body .about_us .container .row .advanced .item .description i {
          color: #cccccc;
          font-size: 70px !important; }
        body .about_us .container .row .advanced .item .description h3 {
          color: #24262a;
          font-weight: bold;
          font-size: 16px;
          text-transform: uppercase;
          margin: 20px 0; }
        body .about_us .container .row .advanced .item .description p {
          color: #333333;
          font-size: 14px; }
        body .about_us .container .row .advanced .item .description a {
          position: absolute;
          cursor: pointer;
          bottom: 0;
          right: 0;
          background-color: #f69323;
          border: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          height: 35px;
          width: 35px;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          body .about_us .container .row .advanced .item .description a i {
            font-size: 16px !important;
            color: #ffffff; }
      body .about_us .container .row .advanced .item:hover {
        background: #fcdbb6; }
        body .about_us .container .row .advanced .item:hover .description i {
          color: #f69323; }
        body .about_us .container .row .advanced .item:hover .description a {
          background: #333333; }

body .experience {
  padding-top: 30px;
  margin-bottom: 70px;
  border-top: 1px solid #dfdfdf; }
  body .experience .container .row .image {
    border-bottom: 5px solid #f69323; }
  body .experience .container .row .description .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    body .experience .container .row .description .title span {
      color: #f69323;
      font-size: 60px;
      font-weight: bold;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-right: 20px; }
    body .experience .container .row .description .title h2 {
      margin-top: 5px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 26px; }
  body .experience .container .row .description .baners h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px; }
  body .experience .container .row .description .baners button {
    border: 1px solid #f69323;
    background: #f69323;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    width: 45%;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    padding: 18px 40px;
    margin-right: 10px; }
    body .experience .container .row .description .baners button i {
      font-size: 20px !important; }
    body .experience .container .row .description .baners button a {
      color: #ffffff; }
    body .experience .container .row .description .baners button span {
      color: #f69323; }
    body .experience .container .row .description .baners button:last-child {
      background: #ffffff;
      color: #333333; }
    @media screen and (max-width: 576px) {
      body .experience .container .row .description .baners button {
        padding: 15px 5px; } }

body .process {
  background: url("../img/process_bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  padding: 50px 0;
  color: #ffffff; }
  body .process .container .row .title {
    text-align: center;
    margin-bottom: 25px; }
    body .process .container .row .title h2 {
      font-weight: bold;
      font-size: 36px; }
  body .process .container .row .description {
    text-align: center;
    margin-bottom: 30px; }
  body .process .container .row:last-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    body .process .container .row:last-child .title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0; }
      @media screen and (max-width: 576px) {
        body .process .container .row:last-child .title {
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          margin-left: 20px; } }
      body .process .container .row:last-child .title span {
        color: #f69323;
        font-weight: bold;
        font-size: 60px;
        margin-right: 20px; }
      body .process .container .row:last-child .title h3 {
        text-align: left;
        font-weight: bold; }
  body .process:hover .container .row:last-child .title span {
    color: #ffffff; }
  body .process:hover .container .row:last-child .title h3 {
    color: #f69323; }

body .call_back {
  margin-top: 70px; }
  body .call_back .container .row .description .title h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px; }
  body .call_back .container .row .description .title p {
    font-size: 14px; }
  @media screen and (max-width: 576px) {
    body .call_back .container .row .description .title {
      text-align: center; } }
  body .call_back .container .row .description form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative; }
    @media screen and (max-width: 576px) {
      body .call_back .container .row .description form {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 100px; } }
    body .call_back .container .row .description form input, body .call_back .container .row .description form textarea {
      padding: 10px;
      width: 70%;
      margin: 10px;
      border: 2px solid #dfdfdf; }
      body .call_back .container .row .description form input:focus, body .call_back .container .row .description form textarea:focus {
        border-color: #f69323; }
    body .call_back .container .row .description form button {
      margin-left: 50px;
      background-color: #f69323;
      border: 2px solid #f69323;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      position: absolute;
      right: 0;
      bottom: -80px;
      height: 50px;
      width: 170px;
      cursor: pointer; }
      body .call_back .container .row .description form button:hover {
        background: #ffffff;
        color: #f69323; }

body .counter {
  background: url("../img/counter_bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  color: #ffffff;
  padding: 80px 0; }
  body .counter .container .row .title {
    text-align: center; }
    body .counter .container .row .title h2 {
      font-weight: bold;
      font-size: 36px; }
  body .counter .container .row .description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 0; }
    body .counter .container .row .description p {
      text-align: center;
      width: 70%; }
  body .counter .container .row:last-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 576px) {
      body .counter .container .row:last-child .item {
        text-align: center; } }
    body .counter .container .row:last-child .item h3 {
      font-size: 60px;
      font-weight: bold;
      margin: 0; }
    body .counter .container .row:last-child .item p {
      color: #f69323;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px; }
      body .counter .container .row:last-child .item p span {
        color: #ffffff; }

@media screen {
  body .opinion {
    margin-top: 70px; } }

body .opinion .slick-next, body .opinion .slick-prev {
  display: none !important; }

body .opinion .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  body .opinion .slick-dots li {
    margin-right: 20px; }
    body .opinion .slick-dots li button {
      position: relative;
      color: transparent;
      background: transparent;
      border: 1px solid #dfdfdf;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 20px;
      width: 20px;
      cursor: pointer; }
      body .opinion .slick-dots li button:before {
        background: transparent;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 3px; }
  body .opinion .slick-dots .slick-active button:before {
    background: #f69323; }

body .opinion .container .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  body .opinion .container .row .description {
    text-align: center; }
    body .opinion .container .row .description h2 {
      margin-bottom: 30px;
      font-size: 34px;
      font-weight: bold; }
  body .opinion .container .row .slider_opinion .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    body .opinion .container .row .slider_opinion .item p {
      font-style: italic;
      color: #333333;
      font-size: 20px;
      letter-spacing: .02em;
      line-height: 32px; }
    body .opinion .container .row .slider_opinion .item h4 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px; }

body .gallery {
  margin-top: 70px; }
  body .gallery .container .row .title {
    text-align: center; }
    body .gallery .container .row .title h2 {
      font-weight: bold;
      font-size: 36px; }
  body .gallery .container .row .description {
    text-align: center;
    margin-bottom: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    body .gallery .container .row .description p {
      width: 60%;
      color: #646e7a;
      font-size: 16px; }
      @media screen and (max-width: 576px) {
        body .gallery .container .row .description p {
          width: 100%;
          margin-top: 20px; } }
  body .gallery .container-fluid .row .item {
    padding: 5px; }
    body .gallery .container-fluid .row .item a {
      position: relative;
      display: block; }
      body .gallery .container-fluid .row .item a img {
        width: 100%;
        height: 400px; }
        @media screen {
          body .gallery .container-fluid .row .item a img {
            -o-object-fit: cover;
               object-fit: cover; } }
      body .gallery .container-fluid .row .item a:after {
        top: -5px;
        bottom: -5px;
        right: -5px;
        left: -5px;
        border: 5px solid transparent; }
      body .gallery .container-fluid .row .item a:before {
        z-index: 100;
        font-family: FontAwesome;
        content: '\f1c5';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        color: transparent;
        text-align: center;
        background: transparent;
        width: 42px;
        height: 42px;
        line-height: 42px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out; }
      body .gallery .container-fluid .row .item a:hover:after {
        background: rgba(246, 147, 35, 0.5);
        border-color: #f69323; }
      body .gallery .container-fluid .row .item a:hover:before {
        background: #ffffff;
        color: #f69323; }

body .team {
  background: #f9fafb;
  padding-top: 70px;
  padding-bottom: 70px; }
  body .team .container .row .title {
    margin-bottom: 30px;
    text-align: center; }
    body .team .container .row .title h2 {
      font-weight: bold;
      font-size: 36px; }
  body .team .container .row .description {
    margin-bottom: 50px; }
    body .team .container .row .description p {
      text-align: center;
      color: #646e7a;
      font-size: 16px; }
  body .team .container .row .item {
    text-align: center; }
    body .team .container .row .item > a {
      cursor: default;
      display: block;
      position: relative; }
      body .team .container .row .item > a img {
        width: 100%;
        margin-bottom: 30px; }
      body .team .container .row .item > a:before {
        top: 0;
        bottom: 30px;
        right: 0;
        left: 0;
        background: #f69323;
        opacity: 0; }
      body .team .container .row .item > a:hover:before {
        opacity: .2; }
      body .team .container .row .item > a:active {
        pointer-events: none; }
    body .team .container .row .item h4 {
      font-weight: bold;
      font-size: 18px; }
    body .team .container .row .item p {
      color: #595959;
      font-size: 14px; }
    body .team .container .row .item .social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media screen and (max-width: 576px) {
        body .team .container .row .item .social {
          margin-bottom: 30px; } }
      body .team .container .row .item .social a {
        margin: 0 5px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid #dfdfdf;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
        body .team .container .row .item .social a i {
          color: #f69323; }
        body .team .container .row .item .social a:hover {
          background: #f8ab54; }
          body .team .container .row .item .social a:hover i {
            color: #ffffff;
            -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                    transform: scale(1.2); }

body .gallery .page_title {
  margin-top: -70px;
  margin-bottom: 70px; }
  body .gallery .page_title .container-fluid {
    padding: 0;
    background-image: url(../img/slide2.jpg);
    height: 300px; }
    body .gallery .page_title .container-fluid .row {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
      body .gallery .page_title .container-fluid .row .title h1 {
        color: #ffffff;
        font-weight: bold;
        font-size: 34px;
        text-transform: uppercase; }
